
api.fasfsaef.store {
  encode zstd gzip
  @preflight {
    method OPTIONS
    header Origin *
    header Access-Control-Request-Method *
  }
  respond @preflight 204

  header Access-Control-Allow-Origin https://blockpair.netlify.app
  header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
  header Access-Control-Allow-Headers "Content-Type, Authorization"
  header Access-Control-Allow-Credentials true

  handle @socket {
    reverse_proxy server:5000
    # add health_uri here only if server:5000 responds to it
    # health_uri /health
  }

  # Everything else (REST/api on 3000)
  handle {
    reverse_proxy server:3000 {
      health_uri /health
      health_interval 10s
    }
  }
}
